body {
    padding-top: 50px;
}

.bg {
    /* The image used */
    background-image: url("../images/annie-spratt-215756-unsplash.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px;
}

.banner-text {
    color: white;
}
