body {
    padding-top: 50px;
}

.bg {
    /* The image used */
    background-image: url("../images/hermes-rivera-258743-unsplash.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px;
}

.navbar.navbar-expand-md.navbar-dark.fixed-top{
    background-color: #458; /* or this nice green shade #582;*/
}

.recipe-title {
    text-align: center;
    font-weight: bold;
}

.input-group {
    margin-top: 20px;
}

.col-sm.d-flex.justify-content-between, .justify-content-between {
    margin-top: 10px;

}
.error {
    color: red;
}
